<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
        <test name="Authorization">
        <classes>
            <class name="test_rs.Authorization">
                <methods>
                    <include name="authorization"/>
                </methods>
            </class>
        </classes>
        </test>

    <test name="authoriz">
        <classes>
            <class name="test_rs.Authorization_1">
                <methods>
                    <include name="authorization_1"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="print">
        <classes>
            <class name="test_rs.PrintDoc">
                <methods>
                    <include name="printDoc"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Table">
        <classes>
            <class name="test_rs.TableList">
                <methods>
                    <include name="tableList"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>